<!DOCTYPE html>
<html>
<head>
	<title>Page Not Found</title>
	<!-- Add Bootstrap CSS link -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Add custom CSS for background image -->
	<style>
		body {
			background-image: url(https://www.gstatic.com/alkali/e6f43df19a7e3578f7404ef7b2f0536bad53a348.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			color: white;
			text-align: center;
			padding-top: 50px;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>Page Not Found</h1>
		<p>The requested URL was not found on this server.</p>
	</div>

	<!-- Add Bootstrap JS link -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
